//teste

$main-header-color: #ed1c24;
$body-bg-color: #e6e6e6;
$menu-font-color: #fff;
$max-site-width: 1320px;

body {
	&.page.page-template-default {
		background: #e6e6e6;

		&:before {
			display: none;
		}
	}
}

div.site {
	margin: 0 auto;
	background: none;
	max-width: $max-site-width;
}

.site-header-wrapper {
	background: $main-header-color;
}

.site-header {
	padding: 20px !important;
	position: relative;
	overflow: hidden;
	width: 100%;

	.site-header-main {
		margin-left: 40px;
		width: 70%;

		.site-branding,
		.site-header-menu {
			float: left;
		}

		.site-header-menu {
			float: right;
		}
	}

	.site-header-main,
	.search-form {
		display: inline-block;
		vertical-align: middle;
	}

	.social-navigation {
		display: block !important;
		background: #242424;

		a {
			color: $menu-font-color;
			width: initial;
			border: none;
			display: inline;

			&:before {
				content: none;
			}
		}
	}
}

.primary-menu {
	.menu-item {
		a {
			font-family: 'Dosis', sans-serif;
			font-size: 14px;
			color: $menu-font-color;
			text-transform: uppercase;
		}
	}
}

.trending-label {
	height: 28px;
	overflow: hidden;
	width: 20%;
}

.arrow-right {
	width: 0;
	border-left: 30px solid #d41f1f;
	border-right: 30px solid transparent;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	float: right;
	margin-top: -16px;
	margin-left: -53px;
}

.arrow-2 {
	border-left: 30px solid #242424;
}

@media screen and (max-width: 909px) {

	.social-links-menu {
		display: none;
	}

	.search-form {
		width: 40px;
		height: 40px;
		position: absolute !important;
		top: 50%;

		.search-field {
			display: none;
		}
	}

	.site-branding {
		margin: 0 auto !important;
		padding-left: 40px;
	}

	.site-header {
		background: $main-header-color;

		.site-header-main {
			width: 80%;
		}
	}

}
